includes:
    - ./extension.neon

services:
    -
        factory: Efabrica\PHPStanLatte\Rule\LatteTemplatesRule()
        arguments:
            phpstanCommand: %latte.features.phpstanCommand%
            maxTemplateVariants: %latte.maxTemplateVariants%
            breakIncludeCycles: %latte.breakIncludeCycles%
        tags:
            - phpstan.rules.rule
